{# Page de changement de mot de passe #}

{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

<div class="container white py-3 shadow-lg full-screen">

    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <div class="alert blue-grey lighten-5">
                <h2>
                    <a href="{{ path('account_index') }}" class="mr-2" title="Retour à la liste des articles">
                        <i class="fas fa-arrow-circle-left"></i>
                    </a>
                    Modification du mot de passe
                </h2>

                {{ form_start(form) }}
               
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>

                {{ form_end(form) }}         
            </div>
        </div>

        {% include 'partials/alert.html.twig' %}

    </div>
    
</div>

{% endblock %}