{# Page de modification de profil d'un utilisateur #}

{% extends 'base.html.twig' %}

{% block title %}Modification du profil utilisateur{% endblock %}

{% block body %}

<div class="container white py-3 shadow-lg">

    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="blue-grey lighten-5 py-3 px-3 rounded">
                <h2>
                    <a href="{{ path('account_index') }}" class="mr-2" title="Retour à la liste des articles">
                        <i class="fas fa-arrow-circle-left"></i>
                    </a>
                    Modification du profil
                </h2>

                {{ form_start(form) }}

                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

                {{ form_end(form) }}
            </div>
        </div>
        <div class="container mt-3">
             {% include 'partials/alert.html.twig' %}
        </div>
    </div>
    
</div>

{% endblock %}