<!-- Footer -->
<footer class="page-footer font-small blue accent-2">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row pt-3">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">La Taverne du JV : le site d'actualité du jeu vidéo sur consoles et PC.</h5>
          <p><span>Retrouvez l'actualité des jeux vidéo grâce à nos <a href="#">news</a>, <a href="#">tests</a>, <a href="#">previews</a>. Rejoignez notre communauté et participez aux <a href="#">forums</a> !</span></p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Article</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Test</a>
                </li>
                <li>
                    <a href="#!">Preview</a>
                </li>
                <li>
                    <a href="#!">News</a>
                </li>
                <li>
                    <a href="#!">Tous les articles</a>
                </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Forum</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Playstation 4</a>
                </li>
                <li>
                    <a href="#!">Switch</a>
                </li>
                <li>
                    <a href="#!">Xbox One</a>
                </li>
                <li>
                    <a href="#!">PC</a>
                </li>
                <li>
                    <a href="#!">Tous les forums</a>
                </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="http://d-riviere.fr/"> d-riviere.fr</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->