{# Rubrique des 5 derniers tests #}
<div class="card mt-3">
    <h2 class="card-header red text-white h3 font-weight-light"><i class="fas fa-angle-down"></i> Les dernières news</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="col">
                <p class="mb-0"><a href="#">Resident Evil 2 explose les ventes</a></p>
            </div>
            <div class="col d-flex">
                <small class="card-text text-muted">
                    <span class="badge badge-primary">PS4</span>                               
                    <span class="badge badge-success">ONE</span> 
                    <span class="badge stylish-color-dark">PC</span>           
                </small>
            </div>                          
        </li>
        <li class="list-group-item">
            <div class="col">
                <p class="mb-0"><a href="#">Red Dead Redemption 2 bat des records</a></p>
            </div>
            <div class="col d-flex">
                <small class="card-text text-muted">
                    <span class="badge badge-primary">PS4</span>                               
                    <span class="badge badge-success">ONE</span> 
                    <span class="badge stylish-color-dark">PC</span>           
                </small>
            </div>                        
        </li>
        <li class="list-group-item">
            <div class="col">
                <p class="mb-0"><a href="#">Monster Hunter World : Iceborn en fin d'année</a></p>
            </div>
            <div class="col d-flex">
                <small class="card-text text-muted">
                    <span class="badge badge-primary">PS4</span>                               
                    <span class="badge badge-success">ONE</span> 
                    <span class="badge stylish-color-dark">PC</span>           
                </small>
            </div>                       
        </li>
        <li class="list-group-item">
            <div class="col">
                <p class="mb-0"><a href="#">Metroid Prime 4 repris à zéro</a></p>
            </div>
            <div class="col d-flex">
                <small class="card-text text-muted">
                    <span class="badge badge-danger">SWITCH</span>           
                </small>
            </div>                       
        </li>
        <li class="list-group-item">
            <div class="col">
                <p class="mb-0"><a href="#">Days Gone reporté en avril</a></p>
            </div>
            <div class="col d-flex">
                <small class="card-text text-muted">
                    <span class="badge badge-primary">PS4</span>                                    
                </small>
            </div>                       
        </li>
    </ul>
</div>