<!-- Footer -->
<footer class="page-footer red">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="http://d-riviere.fr/"> d-riviere.fr</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->