{# Pages des articles news #}

{% extends 'base.html.twig' %}

{% block title %}Toutes les news - Taverne du JV{% endblock %}

{% block body %}

    <div class="container white pb-3 shadow-lg">
        <div class="row">
        
            <div class="col-8">
                <h2 class="card-header orange accent-3 text-white mt-3 mb-3 h3 font-weight-light"><i class="fas fa-angle-down"></i> Toutes les news</h2>

                {% include 'partials/col_right/list_articles.html.twig' %}

                <!-- Pagination -->
                <div class="my-3 pagination justify-content-center">
                    {{ knp_pagination_render(articles) }}
                </div>
            </div>

            <div class="col-4">
                {% include 'partials/col_right/last_tests.html.twig' %}
                {% include 'partials/col_right/last_previews.html.twig' %}
                {% include 'partials/col_right/forums.html.twig' %}
            </div>

        </div>
    </div>

{% endblock %}