<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/app.css">
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
            <!-- Bootstrap core CSS -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
            <!-- Material Design Bootstrap -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" rel="stylesheet">
        {% endblock %}     
    </head>
    <body>
        {% include 'partials/header.html.twig' %}

        <!-- Bloc d'accueil : Message de bienvenue -->
        <div class="container text-center py-2 blue-grey lighten-5 shadow-lg">
            <h1 class="h6 mb-0">Bienvenue sur la Taverne du JV ! La Taverne du JV : le site sur l'actualité du jeu vidéo sur consoles et PC.</h1>
            <span>Retrouvez l'actualité des jeux vidéo grâce à nos <a href="{{ path('article_news') }}">news</a>, <a href="{{ path('article_test') }}">tests</a>, <a href="{{ path('article_preview') }}">previews</a>. Rejoignez notre communauté et participez aux <a href="{{ path('forum_index') }}">forums</a> !</span>
        </div>
        
        {% block body %}{% endblock %}

        {% include 'partials/footer.html.twig' %}
        
        {% block javascripts %}
            <!-- JQuery -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/js/mdb.min.js"></script>
        {% endblock %}
    </body>
</html>
