{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

<div class="container white py-3 text-center shadow-lg">
    <h2>La page que vous recherchez n'existe pas !</h2>
    <p>Vous pouvez retourner à l'accueil pour voir nos derniers articles !</p>

    <a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a>
    <a href="{{ path('account_login') }}" class="btn btn-success">Connexion</a>
</div>

{% endblock %}